* {
  box-sizing: border-box;
}

.container-fluid header,
.container-fluid footer {
  background-color: #f3e9f1;
  /* padding: 0; */
}

.container {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 230px;
  margin: 10px;
}

.fa-shopping-cart {
  font-size: 1.7rem;
  padding: 12px 15px 10px 10px;
  margin: 15px;
  background-color: #ddc4d8;
  border-radius: 5px;
  margin-left: auto;
}

.fa-shopping-cart:hover {
  cursor: pointer;
  background-color: #fff;
}

.card {
  padding: 10px;
  border: none;
  border: 2px solid #fff;
  transform: scale(1);
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #f2f2f2;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.item-page {
  margin: 30px;
}
